.max-width-wrapper {
    width: 100%;
    max-width: 1200px;
    margin:auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.max-width-wrapper-small {
    width: 100%;
    max-width: 800px;
    margin:auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.home-dashboard {
    
}

.home-dashboard-header {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.basic-table {
    border: none;
    border-radius: 4px;
}
.redcircle {
    background-color: rgb(246, 73, 73);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
}

.redcirclenumber {
    color: white;
    font-size: 17px;
    display: inline-block;
}